@import "src/styles/variables";

.wrapper {
  position: fixed;
  top: calc(100% - 85px);
  margin-left: 285px;
  height: 72px;
  cursor: pointer;
  width: 72px;
  background-color: $colInteractiveElementBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  & > svg {
    color: $colWhite;
    height: 40px;
    width: 40px;
  }
}
