@import "src/styles/variables";

.block {
  border-radius: 16px;
  height: 205px;
  padding: 16px;
}

.title {
  color: $colWhite;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 12px;
}

.separator {
  width: 100%;
  height: 0.5px;
  margin-top: 8px;
  background-color: $colWhite;
}

.task {
  margin-top: 12px;
}

.labelClassName {
  color: $colWhite !important;
  font-weight: 300 !important;
  font-size: 12px !important;
  margin-left: 8px;
}

.showMore {
  margin-top: 16px;
}

.link {
  color: $colWhite;
  font-weight: 300;
  font-size: 14px;
  text-decoration: underline;
}
