.wrapper {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: palevioletred;
}

.content {
  background-color: #ffa5001a;
  min-height: 800px;
  width: 375px;
  display: flex;
}
