$colBlack: #000000;
$colWhite: #ffffff;

$colTextGrey: #4A4956;
$colBorderGrey: #aeaeae;
$colDate: #787786;

$colTextGreyLight: #929292;

$colInteractiveElementBlue: #4885ED;
$colInteractiveElementGreen: #57a656;

$colInfoElementOrange: #f7aa41;

$colBackgroundRed: #D04230;

