@import "src/styles/variables";

.wrapper {
  display: flex;
  align-items: center;
  margin-top: 24px;
  width: 100%;
}

.labelClassName {
  color: $colDate !important;
  font-weight: 300 !important;
  font-size: 20px !important;
  margin-left: 8px;
  top: 1px;
  position: relative;
}

.checkbox {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  & > span > svg {
    color: $colDate!important;
  }
}
