@import "../../styles/variables";

.container {
  background-color: #d04331;
  height: 54px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.action {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color ease-out 0.3s;
  &:hover {
    background-color: #b1382b;
  }
  flex-grow: 1;
  & > svg {
    color: $colWhite;
    height: 24px;
    width: 24px;
  }
}
