@import "src/styles/variables";

.header {
  width: 100%;
  margin: 0 auto;
  height: 80px;
  background-color: rgba(0, 128, 0, 0.18);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-size: 30px;
  color: $colTextGrey;
}

.navigator {
  color: $colTextGrey;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 12px;
  cursor: pointer;
}
